<script>
import Timer from './Timer.svelte'
import HowTo from './HowTo.svelte'
let audio;

function playSound() {
	audio.play();
}

</script>

<style>
	h1, h3 {
		text-align: center;
	}
</style>
<h1>Handwashing App</h1>
<Timer on:end={playSound} />
<HowTo/>

<h3>
	<a href="https://www.unwater.org/water-facts/handhygiene/">
		Picture Source: unwater.org
	</a>

	<a href="https://freesound.org/people/kwahmah_02/sounds/250629/">
		Sound Source: freesound.org
	</a>
</h3>

<audio bind:this={audio}>
	<source src="alarm1.mp3" />
	<track kind="captions">
</audio>
