<script>
import ProgressBar from './ProgressBar.svelte'
import { createEventDispatcher} from 'svelte'

$: progress = (totalSeconds - secondsLeft) / totalSeconds * 100;
const totalSeconds = 20;
let secondsLeft = totalSeconds;
let isRunning = false;

const dispatch = createEventDispatcher();

function startTimer() {
    isRunning = true;
    const timer = setInterval(() => {
        secondsLeft--
        
        if (secondsLeft == 0) {
            clearInterval(timer)
            isRunning = false
            secondsLeft = totalSeconds;
            dispatch('end')
        }
    }, 1000)
}

</script>

<style>
    h2 {
        margin: 0
    }
    .start {
        background-color: #3B82F6;
        width: 100%;
        margin: 10px 0;
    }
    .start[disabled] {
        background-color: #D1D5DB;
        cursor: not-allowed;
    }
</style>

<div bp="grid">
    <h2 bp="offset-5@md 4@md 12@sm">
        Seconds Left: {secondsLeft}
    </h2>
</div>

<ProgressBar {progress}/>
<div bp="grid">
<button disabled={isRunning} bp="offset-5@md 4@md 12@sm" class="start" on:click={startTimer}>Start</button>
</div>